.search-container {
  display: flex;
  gap: 10px;

  padding: 20px;
}

.search-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-container button {
  padding: 10px 20px;
  cursor: pointer;
}